.lists-container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  width: 20vw;
  border: 1px solid silver
}

.lists-container > * {
  flex: 3;
  padding: 10px;
  margin: 10px;
}

.lists-container > :nth-child(2) {
  order: 2;
}

.btn-container > button {
  width: 2rem;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  order: 1;
  flex: 1;
}

li {
  list-style-type: none;
}
