img {
    width: 100%;
}
h1 {
    margin: 0;
}

.carousel {
    width: 30vw;
    position: relative;
}

.carousel img {
    border-radius: 20px;
}

.carousel button {
    position: absolute;
}


.carousel button:is(:nth-last-child(2), :last-child) {
    top: 50%;
    color: white;
    background-color: black;
    border: none;
    aspect-ratio: 1/1;
    width: 2rem;
    font-size: 2rem;
    transform: translateY(20%);
}

.carousel button:nth-last-child(2) {
    left: 1%;
    
}

.carousel button:last-child {
    right: 1%;
}

.carousel button:nth-last-child(2)::before {
    content: "❮";
}
.carousel button:last-child::before {
    content: "❯";
}

.carousel-indicator {
    position: absolute;
    bottom:8%;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    width: 5vw;
    border-radius: 30px;
    background-color: rgb(130, 133, 133);
    opacity: 0.4;
    padding: 10px;
    justify-content: space-between;
}

.carousel-indicator-circle {
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
}

.carousel-indicator-circle:hover {
    background-color: white;
}

.active-carousel-indicator-circle {
    background-color: white;
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    
}