form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 2px;
  height: 50vh;
  position: relative;
}

.form-group {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
  height: 3em;
  width: 100%;
}

input,
textarea {
  width: 100%;
  font-size: 16px;
}

textarea {
  height: 4rem;
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  min-width: 20vw;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.btn {
  border: 0px;
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 4rem;
  align-self: flex-end;
  background-color: black;
  color: wheat;
  padding: 10px 5px;
}
